/* Style file for most blog page features */

.obj-id {
    --border-color: silver;
    background-color: var(--border-color);
    text-align: center;
    padding: 10px;
    display: none;
    cursor: pointer;
}

.comment-parent {
    position: fixed;
    bottom: -110%;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    z-index: 1;
}

.inner-parent {
    --border-color: honeydew;
    background-color: var(--border-color);
    padding: 10px;
    min-height: 100vh;
}

#comment {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    background-color: transparent;
    font-weight: 800;
}

#comment-area {
    display: flex;
    flex-direction: row;
    position: relative;
}

#comment-area > form > button {
    --border-color: #000c83;
    position: absolute;
    bottom: 0;
    right: 15px;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: x-large;
    font-weight: 1000;
    color: aliceblue;
    background-color: var(--border-color);
}

#comment-area > button:hover {
    --border-color: #666;
}

.commented {
    --border-color: honeydew;
    background-color: var(--border-color);
    padding: 10px;
    margin: 10px 15px;
}

.comment-title {
    font-size: large;
    font-weight: 1000;
    color: #000c83;
    text-align: center;
    position: sticky;
}

.comment-login {
    --border-color: #000c83;
    background-color: var(--border-color);
    padding: 10px;
    margin: 10px 15px;
    text-align: center;
}

.comment-login > a {
    --border-color: honeydew;
    color: var(--border-color);
    text-decoration: none;
    font-size: large;
    font-weight: 1000;
}

.comment-login > a:hover {
    --border-color: #666;
}

.comment-for {
    --border-color: #000c83;
    padding: 10px;
    margin: 10px 15px;
    text-align: center;
}

.comment-for > input[type="submit"] {
    --border-color: honeydew;
    width: 150px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: silver;
    margin-top: 10px;
    border-radius: 5px;
}

.comments-div  {
    height: 300px;
    overflow-y: auto;
}

.o-comment {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rebeccapurple;
    font-weight: 1000;
}

.comment-content {
    --border-color: #e8ddf4;
    background-color: var(--border-color);
    margin: -15px auto;
    color: rebeccapurple;
    font-weight: 1000;
    cursor: pointer;
}

.comment-content:hover {
    --border-color: #e3dac9;
}

.comment-content > p {
    padding: 10px;
}

#back-to-blogs {
    text-decoration: 1px dotted underline;
}

#back-to-blogs > div {
    --border-color: #999;
    background-color: var(--border-color);
    padding: 10px;
    margin: 10px 15px;
    text-align: center;
    color: honeydew;
}

#back-to-blogs > div:hover {
    --border-color: #666;
}