/* Style file for most blog page features */

.obj-id {
    --border-color: silver;
    background-color: var(--border-color);
    text-align: center;
    padding: 10px;
    display: none;
    cursor: pointer;
}

.comment-parent {
    position: fixed;
    bottom: -100%;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    z-index: 1;
}

.inner-parent {
    --border-color: honeydew;
    background-color: var(--border-color);
    padding: 10px;
    border-radius: 10px;
    min-height: 100vh;
}

#comment {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    background-color: silver;
}

#comment-area {
    display: flex;
    flex-direction: row;
    position: relative;
}

#comment-area > button {
    --border-color: #000c83;
    position: absolute;
    bottom: 0;
    right: 15px;
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: x-large;
    font-weight: 1000;
    color: aliceblue;
    background-color: var(--border-color);
}

#comment-area > button:hover {
    --border-color: #666;
}

.commented {
    --border-color: honeydew;
    background-color: var(--border-color);
    padding: 10px;
    margin: 10px 15px;
}

.comment-title {
    font-size: large;
    font-weight: 1000;
    color: #000c83;
    text-align: center;
}

.h-id {
    display: none;
}