/* Style for the projects template */
.project-form {
    position: fixed;
    bottom: -200%;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    height: 100%;
    background-color: thistle;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: aliceblue;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 15px;
}

form > div {
    background-color: var(--border-color);
    text-align: center;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    color: aliceblue;
}

form > div:hover {
    --border-color: #666;
}

form > p {
    text-align: justify;
    font-weight: 800;
    text-decoration: 1px dotted underline;
}

input[type='submit'] {
    padding: 15px;
    color: aliceblue;
    background-color: var(--border-color);
}

input[type='submit']:hover {
    --border-color: #666;
}

input {
    width: 100%;
    outline: none;
    border: none;
    padding: 10px;
    font-weight: 800;
    display: block;
    margin: 10px auto;
    background-color: rgb(221, 174, 221);
}

#repo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#repo-list > div {
    text-align: center;
    font-weight: 800;
    margin: 10px 15px;
    padding: 15px;
    cursor: pointer;
    min-width: 300px;
    position: relative;
}

#view-repo {
    text-align: center;
    font-weight: 800;
    padding: 15px;
    background-color: var(--border-color);
    cursor: pointer;
    font-size: xx-large;
    color: honeydew;
}

#view-repo:hover {
    --border-color: #666;
}

#view-repo > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border: none;
  background-color: rgb(221, 174, 221);
  font-size: 16px;
  width: 100%;
  font-weight: 800;
}

.custom-select:hover,
.custom-select:focus {
  border-color: #999;
}

.custom-select option {
  padding: 10px;
}

.login {
    padding: 15px;
    background-color: var(--border-color);
    text-align: center;
    font-weight: 800;
}

.login:hover {
    --border-color: #666;
    color: aliceblue;
}

.title {
    --border-color: thistle;
    background-color: var(--border-color);
    color: #666;
    text-align: center;
    font-weight: 800;
    margin: 10px auto;
}

.title > p {
    padding: 15px;
    font-size: 20px;
}

#repos-container {
    min-height: 70vh;
    position: relative;
}

.no-repo {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.repo {
    --border-color: thistle;
    background-color: var(--border-color);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: 800;
}

.repo-link {
    text-decoration: none;
    color: #666;
}

.repo-link {
    background-color: var(--border-color);
    margin: 15px auto;
    padding: 10px;
}

.caught-up {
    --border-color: thistle;
    padding: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-weight: 800;
    margin: 10px auto;
    color: #000c83;
}

#repo-summary {
    --border-color: thistle;
    background-color: var(--border-color);
    padding: 15px;
    text-align: justify;
    font-weight: 800;
    margin: 10px auto;
}

.list-group-item {
    --border-color: #666;
    padding: 10px;
    list-style: none;
    margin: 10px auto;
}

#repo-readme {
    --border-color: rgb(224, 69, 224);
    background-color: var(--border-color);
    padding: 15px;
    text-align: justify;
    cursor: pointer;
    font-weight: 800;
    margin: 10px auto;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #EEE;
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
  margin: 10px auto;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

#list-repos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#list-repos > div {
    flex: 1 1 auto;
}

.select-parent {
    width: 100%;
    cursor: pointer;
}

#tk > p {
    padding: 10px;
}

#head-link {
    color: aliceblue;
    background-color: #666;
    padding: 0 25px;
    border-radius: 4px;
    margin-left: 100px;
}

#head-link:hover {
    color: tomato;
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#languages > div {
    background-color: var(--border-color);
    color: aliceblue;
    text-align: center;
}
