<!--

    Copyright
    Jacob Achira Obara
    2023

-->

{% extends 'base.html' %}

{% block content %}
    {% if article %}
        <div class="health_article oct">
                <div>
                    <h2>{{article.title}}   {{article.PublishedDate}}</h2>
                </div>
                <div>
                    <p>{{article.content}}</p>
                </div>
                <div>
                    {{ article.comments }}
                </div>
        </div>
    {% else %}
        <h1>Bad article</h1>
    {% endif %}
{% endblock %}