<!--

    Copyright
    Jacob Achira Obara
    2023

-->

{% extends 'base.html' %}

{% block content %}
    {% if blog %}
        <div class="blog oct">
                <div>
                    <h2>{{blog.blogTitle}}   {{blog.blogPublishedDate}}</h2>
                </div>
                <div>
                    <p>{{blog.blogContent}}</p>
                </div>
                <div class="obj-id">
                    {{ blog.id }}
                </div>
        </div>
        <script>
            const obj_id = document.querySelector('.obj-id').innerText;
            if (parseInt(obj_id) !== isNaN) {
                alert("Syncing comments")
            } else {
                alert(`Could not resolve ${obj_id}`)
            }
        </script>
    {% else %}
        <h1>Bad blog!</h1>
    {% endif %}
{% endblock %}