<!--

    Copyright
    Jacob Achira Obara
    2023

-->

{% extends 'base.html' %}

{% block cover %}
{% if current_user.is_authenticated %}
<div class="add-blog-parent">
    <div id="toggle" class="oct">Edit</div>
    <div id="blog-form">
        <form action="{{ url_for('blogs') }}" method="post">
            <div class="oct blog-input">
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="oct blog-text">
                <textarea name="content" id="blog-content" cols="30" rows="10" placeholder="Start typing"></textarea>
            </div>
            <div class="oct blog-submit">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
</div>
<script>
    const parent = document.querySelector('.add-blog-parent')
    const blogSend = document.querySelector('.blog-submit')
    const blogForm = document.querySelector('#blog-form')
    const toggle = document.querySelector('#toggle')

    blogForm.style.display = 'none'

    toggle.addEventListener('click', () => {
        if (toggle.innerText == 'Edit') {
            blogForm.style.display = 'block';
            toggle.innerText = 'Collapse'
        } else {
            blogForm.style.display = 'none';
            toggle.innerText = 'Edit'

        }
    });

</script>
{% else %}
<a href="{{ url_for('login') }}" class="add-blog-link">
    <div class="oct add-blog-div">Add</div>
</a>
{% endif %}
{% endblock %}

{% block content %}
    {% if blogs %}
        {% for blog in blogs %}
        <div class="blog oct blog-parent">
            <div>
                <a href="{{ url_for('blog', id=blog.id) }}">
                    <h5>{{blog.blogTitle}}
                        <span class="date-time">{{blog.blogPublishedDate}}</span>
                    </h5>
                </a>
            </div>
            <div>
                <p>{{blog.blogContent}}</p>
            </div>
            <div class="obj-id oct">
                {{ blog.id }}
            </div>
        </div>
        <div class="comment-parent">
            <div class="oct inner-parent">
                <div class="comments-div"></div>
                    {% if current_user.is_authenticated %}
                        <form action="{{ url_for('blog_comments') }}" method="post" class="comment-for oct">
                            <textarea name="comment" id="comment" placeholder="Type" required></textarea>
                            <input name="blog" class="id-value" type="hidden">
                            <input type="submit" value="Submit" class="oct">
                        </form>
                    {% else %}
                        <div class="oct comment-login">
                            <a href="{{ url_for('login') }}">Login to comment</a>
                        </div>
                    {% endif %}

            </div>
        </div>
        {% endfor %}
    {% endif %}
    <script src="/static/script/comment.js"></script>
{% endblock %}