<!--

    Copyright
    Jacob Achira Obara
    2023

-->

{% extends 'base.html' %}

{% block content %}
    <div class="oct contact-parent">
        <h3>Reach out to us</h3>
        <div class="oct contact-sub">
            <a href="mailto:"></a>
            <a href="tel:+254748199786" class="c-link">
                <div class="foot-item oct c-but">
                    <i class="fa fa-phone"></i> Phone
                </div>
            </a>
            <a href="mailto:ed127720@students.mu.ac.ke?subject='Hello'" class="c-link" target="_blank">
                <div class="foot-item oct c-but">
                    <i class="fa fa-envelope"></i> Email
                </div>
            </a>
            <a href="https://twitter.com/AchitraJacobs" class="c-link" target="_blank">
                <div class="oct foot-item c-but">
                    <i class="fa fa-twitter"></i> Twitter
                </div>
            </a>
            <a href="https://www.linkedin.com/in/jacob-obara-2b9b8522a/" class="c-link" target="_blank">
                <div class="oct foot-item c-but">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </div>
            </a>
        </div>
    </div>
{% endblock %}