<!--

    Copyright
    Jacob Achira Obara
    2023

-->

{% extends 'base.html' %}

{% block content %}
    <div class="oct contact-parent">
        <h3>Reach out to us</h3>
        <div class="oct contact-sub">
            <a href="" class="c-link">
                <div class="foot-item oct c-but">Phone</div>
            </a>
            <a href="" class="c-link">
                <div class="foot-item oct c-but">Email</div>
            </a>
            <a href="" class="c-link">
                <div class="oct foot-item c-but">LinkedIn</div>
            </a>
            <a href="" class="c-link">
                <div class="oct foot-item c-but">
                    Twitter
                </div>
            </a>
        </div>
    </div>
{% endblock %}