<!--

    Copyright
    Jacob Achira Obara
    2023

-->

{% extends 'base.html' %}

{% block content %}
    <!-- Add a login for with username and password input -->
    <div class="fix-form">
        <form class="form oct" action="{{ url_for('login') }}" method="post">
            <div class="title">Welcome,<br><span>sign in to continue</span></div>
            <a href="{{ url_for('auth') }}">
                <div class="login-with oct">
                    <div class="button-log github"> </div>
                    <div>Log in with Github</div>
                </div>
            </a>
            <input type="text" placeholder="Username" name="username" class="input">
            <input type="password" placeholder="Password" name="password" class="input">
            <div class="letsGo">
                <button class="button-confirm oct" type="submit">Let`s go →</button>
            </div>
            <div class="or-l">Or</div>
            <a href="{{ url_for('register') }}" style="text-decoration: none;">
                <div class="login-with oct l-s">Sign Up</div>
            </a>
        </form>

    </div>
{% endblock %}