{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="oct title" id="project-title">
    <p>Available Projects</p>
</div>
{% endif %}
<div id="repos-container">
    <div class="repo-holder">
        <div>
            {% if current_user.is_authenticated %}
            {% if repo %}
            {% if 'error' in repo %}
            <p class="caught-up no-repo oct">Error fetching the repo</p>
            {% else %}
            <div id="repo-summary" class="oct">
                <p id="repo-name">
                    <span style="font-weight: 800; font-size: 105%">{{ repo.name.capitalize() }}</span>
                    <a href="{{ repo.url }}" id="head-link" target="_blank">
                        View repo on github
                    </a>
                </p>
                <br>
                <div id="languages"> {{ repo.languages }} </div>
                <br>
                <p id="repo-readme" class="oct"> {{ repo.readme }} </p>
                <br>
                <p id="files"> {{ repo.files }} </p>
                <br>
                <p id="followers">Followers: {{ repo.followers }} </p>
            </div>
            {% endif %}
            {% else %}
            {% if special %}
                <div id="desc">
                    {{ special.readme }}
                </div>
                <script>
                    const desc = document.getElementById('desc');
                    desc.innerHTML = desc.innerText;
                </script>
            {% endif %}
            {% if repos %}
            {% if 'error' in repos %}
            <p class="caught-up no-repo oct">Error fetching the repo</p>
            {% endif %}
            <br>
            <div id="view-repo" class="oct">
                <p>&plus;</p>
            </div>
            <br>
            <div id="list-repos">
                {% for repo in repos %}
                <div id="repo-list">
                    <div class="repo oct">
                        <div class="repo-name">
                            <p>{{repo.repositoryName }}</p>
                        </div>
                        <div class="repo-description">
                            <p>{{repo.repositoryDescription}}</p>
                        </div>
                        <div class="oct repo-link">
                            View Repo
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="caught-up oct no-repo">All caught up</p>
            {% endif %}
            {% endif %}
            {% else %}
            <a href="{{ url_for('login') }}" id="no-repo">
                <p class="oct login">Log in to see your repos</p>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% if current_user.is_authenticated %}
<div class="project-form">
    <form action="{{ url_for('projects') }}" method="post" id="repo_form" class="oct">
        <p>Paste your token or use the drop down to select</p>
        <p>saved tokens</p>
        <div id="new-token">
            <div class="select-parent oct">
                <input type="password" name="token" id="token" placeholder="Token">
            </div>
            <br>
            <div class="radio-inputs oct select-parent" id="drop-down">
                <label class="radio">
                    <input type="radio" name="save" value='y' checked="">
                    <span class="name">Yes save</span>
                </label>
                <label class="radio">
                    <input type="radio" name='save' value="n">
                    <span class="name">One time only</span>
                </label>
            </div>
        </div>
        <div id="select-token">
            <div class="oct select-parent">
                <select name="token-select" id="token-drop" class="custom-select">
                    {% if current_user.is_authenticated %}
                    <option value="" selected>Use select.</option>
                    {% for token in current_user.user.tokens %}
                    <option value="{{ token.token }}">{{ token.token }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div id="switch" class="oct select-parent">Switch</div>
        <div class="oct">
            <input type="submit" value="Submit" class="oct">
        </div>
    </form>
</div>
<script>
    const form = document.getElementById('repo_form');
    const newToken = document.getElementById('new-token');
    const selectToken = document.getElementById('select-token');
    const switcher = document.getElementById('switch');
    switcher.style.padding = '5px';
    switcher.style.margin = '5px';

    newToken.style.width = '100%';
    newToken.style.backgroundColor = 'transparent';
    selectToken.style.width = '100%';

    newToken.style.display = 'none';

    switcher.addEventListener('click', (event) => {
        if (event.target === switcher) {
            if (newToken.style.display === 'none') {
                newToken.style.display = 'block';
                selectToken.style.display = 'none';
            } else {
                newToken.style.display = 'none';
                selectToken.style.display = 'block';
            }
        }
    });

    form.addEventListener('submit', (event) => {
        const token = document.getElementById('token');
        const tokenDrop = document.getElementById('token-drop');

        if (tokenDrop.value !== '') {
            token.value = tokenDrop.value;
        } else {
            if (token.value === '') {
                event.preventDefault();
                alert('Please enter a token');
            }
        }

    });
</script>
{% endif %}
<script src="/static/script/projects.js"></script>
{% endblock %}