<!--

    Copyright
    Jacob Achira Obara
    2023

-->

{% extends 'base.html' %}

{% block content %}
    <div class="fix-form">
        <form class="form oct">
        <div class="form-left">
            <div class="title">Welcome,<br><span>sign up to continue</span></div>
            <a href="{{ url_for('auth') }}">
                <div class="login-with oct">
                    <div class="button-log github"> </div>
                    <div>Continue with Github</div>
                </div>
            </a>
            <br>
        <div id="parent-form">
            <div id="parent-form-first">
                <input type="text" placeholder="Name" name="name" class="input">
                <input type="text" placeholder="Username" name="username" class="input">
                <input type="email" placeholder="Email" name="email" class="input">
            </div>
            <div id="parent-form-second">
                <div class="radio-wrapper">
                    <div class="radio-option">
                        <input class="radio-input" type="radio" name="gender" value="f" checked="">
                        <div class="radio-btn">
                        <span class="radio-span">Female</span>
                        </div>
                    </div>
                    <div class="radio-option">
                        <input class="radio-input" type="radio" name="gender" value="m">
                        <div class="radio-btn">
                        <span class="radio-span">Male</span>
                        </div>  </div>
                    <div class="radio-option">
                        <input class="radio-input" type="radio" name="gender" value="o">
                        <div class="radio-btn">
                        <span class="radio-span">Other</span>
                        </div>
                    </div>
                    </div>
                    <br>
                <input type="password" placeholder="Password" name="password" class="input">
                <input type="password" placeholder="Password" name="password" class="input">
            </div>
        </div>
        <div id="rightLeft">
            <div class="btn" id="left">Previous</div>
            <div class="btn" id="right">Next</div>
        </div>
        <div id="confirm">
            <button class="button-confirm oct">Let`s go →</button>
        </div>
        </div>
        </form>
    </div>

{% endblock %}
